<%- include('includes/headBeginning.ejs')%>
<%-include('includes/headEnd.ejs')%>
<%-include('includes/cardBody')%>
action="/" oninput='confirmPassword.setCustomValidity(confirmPassword.value != password.value ? "Passwords do not match." : "")'
<%-include('includes/formBody.ejs')%>
<div style="display: none">
    <label for="firstName" class="form-label">Your first name</label>
    <input type="text" name="firstName" id="firstName" class="form-control" value="<%=firstName%>">
    <label for="lastName" class="form-label">Your first name</label>
    <input type="text" name="lastName" id="lastName" class="form-control" value="<%=lastName%>">
    <label for="email" class="form-label">Your first name</label>
    <input type="text" name="email" id="email" class="form-control" value="<%=email%>">
</div>
<label for="password" class="form-label">Your password</label>
<input type="password" pattern=".{8,}" title="8 characters minimum" class="form-control" name="password" id="password" aria-describedby="emailHelp" required>
</div>
<div class="mb-3">
    <label for="confirmPassword" class="form-label">Confirm your password</label>
    <input type="password"  name="confirmPassword" id="confirmPassword" class="form-control" required>
</div>
<div class="mb-3">
    <form method="post">
    <input class="btn btn-outline-primary" type="submit" value="Submit">
    </form>
</div>
<%-include('includes/end.ejs')%>
